
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/

#banner {
	margin-top: 0;
	.banner-button {
		font-weight: 500;
		background-color: $light-purple;
		font-size: 8px;
		padding: 0.2rem 0.4rem;
		border-radius: 0.2rem;
		@include media-breakpoint-up(md) {
			padding: 0.6rem 0.8rem;
			font-size: 1.2rem;
			border-radius: 0.5rem;
		}
	};
	.banner-head {
		font-size: clamp(20px,5vw,5vw);
		@include media-breakpoint-up (xl) {
			font-size: 5rem;
		}
	};
	.banner1-text {
		position: absolute;
		left: 17.4vw;
		top: 5vw;
	};
	.banner2-text {
		.banner-button {
			top: 25%;
		}
	};
	.banner3-text {
		position: absolute;
		left: 50vw;
		top: 8vw;
	}
	@include media-breakpoint-up (lg) {
		.banner1-text {
			top: 12vw;
		};
	};

	#indicator {
		position: absolute;
		left: 8vw;
		bottom: 7vw;
		li {
			margin-left: 1vw;
			margin-right: 1vw;
		};
		#slick-slide-control00::before {
			content: $dot;
			&:hover {
				content: $dot_hover;
			}
		};
		#slick-slide-control01::before {
			content: $dot;
			&:hover {
				content: $dot_hover;
			}
		};
		#slick-slide-control02::before {
			content: $dot;
			&:hover {
				content: $dot_hover;
			}
		};
		.slick-dots {
			display: flex;
			.slick-active {
				width: 5vw!important;
				content: $dot-active;
				&:hover {
					content: $dot_hover_active;
				}
			}
		};
		@include media-breakpoint-up (lg) {
			left: 3.75vw;
			bottom: 5vw;
		}
	};

	#socialsite {
		font-size: clamp(12px,1vw,1vw);
		display: flex;
		position: absolute;
		right: -50px;
		bottom: 18vw;
		@include rotate(-90deg);
		a {
			color: white;
			padding-right: 2vw;
			&:hover {
				color: $light-blue;
			}
		};
		@include media-breakpoint-up (lg) {
			bottom: 12vw;
		}
	}
}