
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/

.header {
	position: relative;
	z-index: 10;
	&.yellow-header {
		background-color: #ccac76;
		z-index: 199;
		@include media-breakpoint-up(xl) {
			background-color: transparent;
		};
	};
	&.blue-light-header {
		background-color: #ebf4f9;
		z-index: 199;
		@include media-breakpoint-up(xl) {
			background-color: transparent;
		};
	};
	&.blue-dark-header {
		background-color: #b1d6f7;
		z-index: 199;
		@include media-breakpoint-up(xl) {
			background-color: transparent;
		};
	};
	@include media-breakpoint-up (xl) {
		margin-bottom: -1.8*$header-height;
	};
	#header-wrap {
		padding: 0 2.6vw;
	};
	.current {
		a {
			color: $theme-color;
		};
		color: $theme-color;
	};
};

/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.navbar-brand {
	img {
		width: 4.5rem;
	};
	@include media-breakpoint-up (xl) {
		img {
			padding-bottom: 12px;
			width: 7rem;
		};
	};
};

/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {
	position: relative;
	@include media-breakpoint-up(xl) {
		position: absolute;
		left: 50%;
		translate: (-50% 0);
	};
};

/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now

/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/

#top-btns {
	.navbar-nav {
		.nav-item {
			padding-right: 10px;
			#redheart{
				color: white;
				padding: 0 1.6vw;
				font-size: 1.4rem;
				&:hover {
					color: $light-purple;
				};
			};
			@include media-breakpoint-up(xl) {
				padding: 0;
			};
			.nav-link {
				padding: 0!important;
				.addbag {
					width: 1.3rem;
				};
			}
		};
	}
};

/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/

#top-links {
	.navbar-nav {
		padding-left: 2vw;
		.nav-item {
			.nav-link {
				font-size: 12.8px;
			};
		};
	};
};

/* ----------------------------------------------------------------
	Top About
-----------------------------------------------------------------*/

.header#about-header {
	background-color: #f3be41;
	margin-bottom: -$header-height;
	@include media-breakpoint-up (xl) {
		margin-bottom: -3*$header-height;
		background-color: transparent;
	}
}

/* ----------------------------------------------------------------
	Top Contact
-----------------------------------------------------------------*/

.header#contact-us-header {
	background-color: #ebafc4;
	margin-bottom: -$header-height;
	@include media-breakpoint-up (xl) {
		margin-bottom: -3*$header-height;
		background-color: transparent;
	}
}

/* ----------------------------------------------------------------
	Top 404
-----------------------------------------------------------------*/

.header#error-header {
	background-color: #eebfbe;
	@include media-breakpoint-up (xl) {
		background-color: transparent;
	}
}
/* ----------------------------------------------------------------
	Top wishlist,team,faqs,blog,cart,checkout
-----------------------------------------------------------------*/

.header.header-etc {
	background-color: #ebf4f9;
	margin-bottom: -$header-height;
}

/* ----------------------------------------------------------------
	Top shop
-----------------------------------------------------------------*/

.header#shop-header {
	background-color: #ebf4f9;
	margin-bottom: -1.5*$header-height;
	@include media-breakpoint-up (xl) {
		margin-bottom: -2*$header-height;
	}
}

/* ----------------------------------------------------------------
	Top single-post
-----------------------------------------------------------------*/

.header#single-post-header {
	background-color: #ebf4f9;
	margin-bottom: 0.5*$header-height;
}

/* ----------------------------------------------------------------
	Top product,member
-----------------------------------------------------------------*/

.header.header-product-member {
	background-color: #ebf4f9;
	margin-bottom: 0.5*$header-height;
}


