
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/

#header {
	position: relative;
	z-index: 10;
	&.yellow-header {
		background-color: #ccac76;
		z-index: 199;
		@include media-breakpoint-up(xl) {
			background-color: transparent;
		};
	};
	&.blue-light-header {
		background-color: #ebf4f9;
		z-index: 199;
		@include media-breakpoint-up(xl) {
			background-color: transparent;
		};
	};
	&.blue-dark-header {
		background-color: #b1d6f7;
		z-index: 199;
		@include media-breakpoint-up(xl) {
			background-color: transparent;
		};
	};
	@include media-breakpoint-up (xl) {
		margin-bottom: -2*$header-height;
	};
	#header-wrap {
		padding: 0 3.75vw;
	};
	.current {
		a {
			color: $theme-color;
		};
	};
};

/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.navbar-brand {
	img {
		width: 3.5rem;
	};
	@include media-breakpoint-up (xl) {
		img {
			padding-bottom: 12px;
			width: 5rem;
		};
	};
};

/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {
	position: relative;
	@include media-breakpoint-up(xl) {
		position: absolute;
		left: 50%;
		translate: (-50% 0);
	};
};

/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now

/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/

#top-btns {
	.nav-item {
		padding-right: 10px;
		@include media-breakpoint-up(xl) {
			padding: 0 16px;
		};
	};
	#redheart.text-red {
		color: $third-color;
	}
	#redheart{
		color: $third-color;
	}
	.addbag {
		width: 1.3rem;
	};
};

/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/

#top-links {
	.nav-item {
		padding: 0 4px;
	};
};

/* ----------------------------------------------------------------
	Top Infos
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Social
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Login
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Account
-----------------------------------------------------------------*/

