
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/


#page-title {
	.title {
		display: block;		
		font-family: $heading-font;
		font-size: 4.37rem;
		font-weight: 400;
		line-height: 1;
		margin-bottom: 2.4rem;
		color: white;
	}

	.sub-title {
		display: inline-block;
		font-family: $heading-font;		
		font-size: 1.74rem;
		font-weight: 400;
		line-height: 1;
		margin-bottom: 2.25rem;
		background-color: $third-color;
		padding: 0.6rem 1.5rem 0.7rem;
		color: white;
	}

	p {
		font-size: 1.25rem;
		color: #2f363a;
	}
}