/* ----------------------------------------------------------------

	page.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Page
-----------------------------------------------------------------*/

/* home
-----------------------------------------------------------------*/
.ads {
	position: relative;
	.ads-body {
		position: absolute;
		left: 10%;
		top: 5%;
		height: 85%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.d-flex {
			.ads-body-price {
				display: flex;
				align-items: center;
				padding-right: 1.5rem;
				font-size: 8rem;
				font-family: $headings-font-family;
			};
			.ads-body-category {
				display: flex;
				align-items: center;
				font-size: 1.8rem;
			};
			@include media-breakpoint-up (sm) {
				.ads-body-price {
					font-size: 2.5rem;
					padding-right: 0.5vw;
				};
				.ads-body-category {
					font-size: 0.75rem;
				};
			};
			@include media-breakpoint-up (md) {
				.ads-body-price {
					font-size: 3.75rem;
				};
			};
		};
		.ads-body-button {
			font-size: 1.5rem;
			@include media-breakpoint-up (sm) {
				font-size: 0.8rem;
			};
		};
	};

	.ads-body.normal {
		top: 15%;
		height: 70%;
		line-height: 0.8;
		.ads-body-category {
			font-size: 1.8rem;
			color: $theme-color;
			@include media-breakpoint-up (sm) {
				font-size: 0.75rem;
			}
		};
		.ads-body-price {
			font-size: 5rem;
			color: white;
			font-family: $headings-font-family;
			@include media-breakpoint-up (sm) {
				font-size: 2.5rem;
			}
			@include media-breakpoint-up (md) {
				font-size: 4rem;
			}
		};
		.ads-body-button {
			font-family: $headings-font-family;
			color: $light-blue;
		};
		&.center {
			left: 50%;
			top: 50%;
			.ads-body-category {
				font-size: 0.75rem;
				@include media-breakpoint-up (sm) {
					font-size: 1rem;
				}
			};
			.ads-body-price {
				font-size: 2.5rem;
				@include media-breakpoint-up (sm) {
					font-size: 4rem;
				}
				@include media-breakpoint-up (md) {
					font-size: 5rem;
				}
			};
			.ads-body-button {
				font-size: 0.8rem;
				@include media-breakpoint-up (sm) {
					font-size: 1.2rem;
				};
			};
		};
	};
};

.bonus-bg {
	background-size: cover;
	position: relative;
	background-image: url('../images/pages/home/bonuse-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	min-height: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 32rem;
	.content {
		text-align: center;
		width: 27%;
		margin-bottom: 1.5rem;
		@include media-breakpoint-down(lg) {
			width: 100%;
		};

		h2 {
			font-size: 3rem;
		};

		p {
			font-size: 1.125rem;
			line-height: 1.75;
		};

		button {
			background-color: $light-purple;
			padding: 1.2rem 2.5rem;
			margin-top: 1.4rem;
		};
	};
};

#best-seller {
	.product {
		h3 {
			font-size: 1rem;
		}
		h4 {
			font-size: 0.75rem;
		}
		h5 {
			font-size: 0.5rem;
		}
		p {
			font-size: 0.5rem;
		}
		@include media-breakpoint-up (sm) {
			h3 {
				font-size: 1.2rem;
			}
			h4 {
				font-size: 1rem;
			}
			h5 {
				font-size: 0.75rem;
			}
			p {
				font-size: 0.5rem;
			}
		}
		@include media-breakpoint-up (lg) {
			h3 {
				font-size: 1.8rem;
			}
			h4 {
				font-size: 1.5rem;
			}
			h5 {
				font-size: 1rem;
			}
			p {
				font-size: 0.75rem;
			}
		}
	}
}

#new {
	padding-top: 5vw;
	background-image: url('../images/pages/home/new-bg.png');
}

.events {
	.event {
		.event-thumbnail {
			filter: grayscale(100%);
			opacity: 0.5;
		};
		p {
			font-size: 1.25rem;
			line-height: 2;
		};
		.event-content {
			@include media-breakpoint-up(md) {
				color: white;
				width: 45%;
				position: absolute;
				left: 3.75rem;
				top: 50%;
				transform: translateY(-50%);
				margin-top: 0;
			};
			margin-top: $spacer * 2;
			position: relative;
			color: $body-color;
			width: 100%;
			left: 1rem;
			padding-right: 0.875rem;
			line-height: 1.65;
		};
	};
	.event-date {
			h3{
			color: #9d9d9d;
			font-size: 1.74rem;
			margin-bottom: 4.6rem;
			@include media-breakpoint-down(xl) {
				margin-bottom: $spacer * 2;
			};
		};
		.line-divide {
			filter: grayscale(100%);
			opacity: 0.5;
			position: relative;
			border-top: 1px solid $light-purple;
			width: 17.3rem;
		};
		.dot {
			position: absolute;
			left: 0;
			top: -3px;
			border-radius: 50%;
			width: 5px;
			height: 5px;
			background-color: #9d9d9d;
		};
		.line-top {
			width: 3.75rem;
			border-top: 1px solid #9d9d9d;
			padding-top: 4.78rem;
		};
		.line-bottom {
			width: 3.75rem;
			border-bottom: 1px solid #9d9d9d;
			padding-bottom: 4.78rem;
		};
	};
	.event:hover {
		.event-thumbnail {
			filter: grayscale(0);
			opacity: 1;
		};
		& + .event-date {
			h3 {
				color: $light-purple;
			};
			.dot {
				background-color: $light-purple;
			};
			.line-divide {
				filter: grayscale(0) !important;
				opacity: 1 !important;
			};
		};
	};
};

/* About
-----------------------------------------------------------------*/

.about-bg {
	position: relative;
	background-image: url('../images/pages/about/about-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  	padding-top: 13.3rem;
	padding-bottom: 9.9rem;
};

/* Contact
-----------------------------------------------------------------*/

#contact-bg {
	background-image: url('../images/pages/contact/contact-bg.png');
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 10.2rem;
	padding-bottom: 3.9rem;
};

#contact {
	p {
		color: $heading-color;
	};
};

/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/

#page-title {
	position: relative;
	padding-top: 7rem;

	.sub-title {
		letter-spacing: 2px;
		margin-bottom: 2.5rem;
	}

	.title {
		display: block;
		font-family: $headings-font-family;
		font-size: 5rem;
		line-height: 1;
		margin-bottom: 3.5rem;
	}

	p {
		font-size: 1.25rem;
		color: #2f363a;
	}
}

/* ----------------------------------------------------------------
	Team Member Page
-----------------------------------------------------------------*/

.team-member {
	padding: 0.625rem;
	margin-bottom: 1rem;

	@include border-radius(0.5rem);

	.member-avatar {
		@include border-radius(0.5rem);
	}

	.member-name {
		font-size: 1.3125rem;
		margin-bottom: 1rem;
	}

	.member-role {
		color: $theme-color;
		font-size: 0.75rem;
	}

	.member-intro {
		margin-top: 1.5rem;

		.read-more {
			color: $theme-color;
			font-size: 1rem;
			font-weight: 600;

			&::after {
				content: escape-svg($external-link-icon);
				position: relative;
				top: 3px;
				margin-left: 0.625rem;
			}
		}
	}

	.member-actions {
		margin-top: 1.875rem;

		.follow-me {
			span {
				margin-right: 1.125rem;
			}
		}
	}

	.member-details {
		padding: 0 0 3rem 3rem;
	}
}


/* ----------------------------------------------------------------
	Single Member Page
-----------------------------------------------------------------*/

.team-member {
	padding: 0;

	.member-details {
		padding: 0 3rem 3rem 3rem;
	}
}

#member-services {
	.member-service {
		padding-left: 2.25rem;
		position: relative;

		&::before {
			content: "";
			background-image: escape-svg($checker-icon);
			background-repeat: no-repeat;
			background-size: 100%;
			display: block;
			width: 1rem;
			height: 0.8125rem;
			position: absolute;
			left: 0;
			top: 0;
		}

		h3 {
			font-family: $body-font;
			font-size: 1rem;
			margin-bottom: 1.375rem;
		}
	}
}

#member-portfolios {
	.member-portfolio {
		margin-bottom: 1.875rem;

		img {
			margin-bottom: 1.5rem;

			@include border-radius(0.5rem);
		}

		h3 {
			font-family: $body-font;
			font-size: 1rem;
			margin-bottom: 0;
		}
	}
}



/* ----------------------------------------------------------------
	Blog Page
-----------------------------------------------------------------*/

#blog-page {
	#posts {
		.post {
			padding: 0.625rem 0;

			.post-thumbnail {
				@include border-radius(0.5rem);
			}

			.post-content {
				display: block;
				padding: 0.9375rem 0;

				.entry-title {
					h4 {
						font-family: $body-font;
						font-size: 1.1875rem;
						line-height: 1.875rem;

						a {
							color: $headings-color;

							&:hover {
								color: $theme-color;
							}
						}
					}
				}

				.entry-meta {
					font-family: $body-font;
					font-size: 0.875rem;
					width: 100%;
					margin-right: 0;
					padding-top: 0;
					position: initial;

					a {
						color: $headings-color;
					}
				}

				.entry-link {
					color: $theme-color;
					font-size: 0.875rem;
					margin: 0;
				}

				.entry-categories {
					font-size: 0.875rem;

					a {
						color: $theme-color;
						padding-left: 0.625rem;
					}
				}
			}
		}
	}
}


/* ----------------------------------------------------------------
	Shope Page
-----------------------------------------------------------------*/

#shop-page {
	.sidebar {
		.widget {
			&.featured-products {
				.product {
					.product-image {
						@include border-radius(0.5rem);
					}
				}
			}
		}
	}
}

/* ----------------------------------------------------------------
	Sidebar
-----------------------------------------------------------------*/

.sidebar {
	@include media-breakpoint-down(lg) {
		margin-top: 1.875rem;
	}

	.widget {
		margin-bottom: 1.875rem;
	}
}

/* ----------------------------------------------------------------
	Single Product Page
-----------------------------------------------------------------*/

#single-product-page {
	.product-thumbnail {
		position: relative;

		.product-gallery {
			position: absolute;
			left: 0;
			top: 1.25rem;
			z-index: 1;

			li {
				border-left: 5px solid transparent;
				margin-bottom: 0.625rem;
				padding-left: 0.75rem;

				> a {
					background-color: $white;
					display: block;
					width: 5.625rem;
					height: 5.625rem;
					overflow: hidden;
				}

				&:hover,
				&.active {
					border-color: $theme-color;
				}
			}
		}
	}

	.product-summary {
		text-align: left;
	}

	.product.single-product {
		.onsale {
			top: 0;
			right: 1.875rem;
			bottom: initial;
		}

		.product-details {
			padding: 0;

			@include media-breakpoint-down(lg) {
				padding-top: 2.25rem;
			}
		}

		.product-title {
			color: $body-color;
			font-size: 2.5rem;
			font-weight: 700;
		}

		.product-rating {
			margin-top: 0;
			display: inline-block;

			i {
				color: $theme-color;
			}
		}

		.product-price {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
			justify-content: flex-start;
		}

		.product-meta {
			span {
				display: block;

				a {
					color: $headings-color;
					font-weight: 600;
				}
			}
		}

		form.cart {
			display: flex;
			margin-top: 2rem;
			margin-bottom: 2rem;

			input[type=submit] {
				height: 3rem;
				line-height: 3rem;
				padding: 0 $btn-padding-x;
			}
		}
	}

	.product-more-info {
		.tab-content {
			margin-top: 1.5rem;
		}
	}
}



/* ----------------------------------------------------------------
	Cart Page
-----------------------------------------------------------------*/

#cart-page {
	.cart-form {
		.shop-table {
			tfoot {
				td {
					padding: 1.25rem 0;
					border-bottom: none;
				}
			}

			.cart-item {
				.product-thumbnail {
					width: 8.25rem;

					img {
						width: 6.25rem;
						height: auto;
						min-width: 6.25rem;
					}
				}

				.product-name {
					a {
						color: $headings-color;
						font-size: 1rem;
						font-weight: 600;

						&.product-wishlist,
						&.product-delete {
							color: $theme-color;
							font-size: 0.8125rem;
							margin-right: 1.25rem;
						}
					}
				}

				.product-subtotal {
					color: $headings-color;
					font-size: 1.25rem;
					font-weight: 600;
				}
			}

			.actions {
				.form-control,
				.btn {
					@include media-breakpoint-down(md) {
						width: 100%;
						margin-bottom: 1rem;
					}
				}
			}
		}
	}

	.cart-totals {
		@include media-breakpoint-up(lg) {
			padding: 0 2.375rem;
		}

		.shop-table {
			font-size: 0.75rem;

			td, th {
				border-bottom-width: 1px;
				border-color: $light;
				color: $headings-color;
				padding: 1rem 0;
				vertical-align: middle;
			}

			th {
				font-weight: 600;
				text-transform: uppercase;
			}

			td {
				text-align: right;
			}

			.order-total {
				td {
					font-size: 1.25rem;
					font-weight: 600;
				}
			}

			.shipping {
				td {
					text-align: left;

					p {
						font-weight: 600;
					}
				}
			}
		}

		.btn {
			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Checkout Page
-----------------------------------------------------------------*/

#checkout-page {
	.checkout {
		padding: 2.5rem 0;
	}

	.order-details {
		color: $headings-color;
		font-size: 0.75rem;
		padding: 2.5rem 0;

		.shop-table {
			td, th {
				border-color: $gray-200;
				border-bottom-width: 1px;
				color: $headings-color;
				padding: 1rem 0;
				vertical-align: middle;
			}

			.product-total {
				text-align: right;
			}

			thead {
				th {
					font-weight: 600;
					text-transform: uppercase;
				}
			}

			tfoot {
				.cart-subtotal,
				.order-total {
					th {
						font-weight: 600;
						text-transform: uppercase;
					}

					td {
						text-align: right;
					}
				}

				.order-total {
					td {
						font-size: 1.25rem;
						font-weight: 600;
					}
				}
			}

			.shipping {
				td {
					text-align: left;

					p {
						font-weight: 600;
					}
				}

				.shipping-destination {
					input {
						background-color: $light;
					}
				}
			}
		}

		.checkout-payment {
			p {
				font-weight: 600;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Wishlist Page
-----------------------------------------------------------------*/

#wishlist-page {
	.shop-table {
		.wishlist-item {
			.product-thumbnail {
				width: 8.25rem;

				img {
					width: 6.25rem;
					height: auto;
					min-width: 6.25rem;
				}
			}

			.product-name {
				a {
					color: $headings-color;
					font-size: 1rem;
					font-weight: 600;

					&.product-delete {
						color: $theme-color;
						font-size: 0.8125rem;
						margin-right: 1.25rem;
					}
				}
			}

			.product-actions {
				.btn {
					@include media-breakpoint-down(lg) {
						width: 100%;
					}
				}
			}

			.product-quantity {
				.quantity .input-group-prepend {
					display: flex;
					align-items: center;
					margin: 0;
					padding: 0;
				}
				.quantity .input-group-prepend p {
					margin: 0;
					padding: 5px;
				}
			}
		}
	}
}