
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block {
	margin-bottom: $spacer * 3;

	.title {
		display: block;
		line-height: 1;
		margin-bottom: 0;
	}
}