
/*-----------------------------------------------------------------------------------

	Shortcodes: partners.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Partners logo Styles
-----------------------------------------------------------------*/
#logos-partners {
	margin-top: -45px;
}
.logos {
	.logo-item {
		border: 1px solid #eaeaea;
		border-radius: .3125rem;
		max-width: 10rem;
		height: 6.25rem;
		display: flex!important;
		justify-content: center;
		align-items: center;
	};
	@include media-breakpoint-up (xxl) {
		.slick-slide.slick-active {
			width: 219px!important;
		}
	}
};


