
/*-----------------------------------------------------------------------------------

	Shortcodes: partners.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Partners logo Styles
-----------------------------------------------------------------*/
#logos-partners {
	margin-top: -45px;
}
.logos {
	.logo-item {
		border: 1px solid #eaeaea;
		border-radius: .3125rem;
		max-width: 10.625rem;
		height: 6.25rem;
		display: flex!important;
		justify-content: center;
		align-items: center;
	};
	.slick-active {
		.logo-item {
			img {
				padding: 10px 30px;
			};
		};
		display: flex;
		justify-content: center;
		align-items: center;
	};
};


